version: "{{.Version}}"
    
services:
  mongodb:
    image: mongo:{{.ImageVersion}}
    hostname: mongodb 
    environment:
       MONGO_INITDB_ROOT_USERNAME: {{.DbUser}}
       MONGO_INITDB_ROOT_PASSWORD: {{.DbPass}}

    ports:
        - "{{.Ports}}"
    deploy:
        resources:
            limits:
                cpus: "{{.Cpu}}"
                memory: "{{.Memory}}MB"
    networks:
      - {{.NetworkName}}
 
